@charset "UTF-8";

/*--- Default Styling ---*/
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #3a4454;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
               "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

h1, h2 {
  font-family: "Piazzolla", "Times new Roman", "YuMincho", "hiragino Mincho ProN",
               "Yu Mincho", "MS PMincho", serif;
  line-height: 1.4;
}

h2, h3 {
  margin-top: 0;
  font-weight: 700;
}

h1 {
  margin-top: 0;
}

h2 {
  text-align: center;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p {
  line-height: 1.8;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a, input, textarea {
  transition: all 0.15s ease-in-out;
}

input[type="submit"]:hover {
  cursor: pointer;
}
/*--- Reusable Classes ---*/
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.button-primary, .button-secondary {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  color: #fff7f7;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
}

.button-primary {
  background-color: #53687E;
}

.button-secondary {
  background-color: #6B4E71;
}

.button-primary:hover,
.button-primary:focus {
  background: #495B6F;
}

.button-secondary:hover,
.button-secondary:focus {
  background: #5D4462;
}

.social-links {
display: flex;
flex-wrap: wrap;
font-size: 2rem;
}

.social-links li + li {
  margin-left: 20px;
}


/*--- Header ---*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #6B4E71;
  color: #fff7f7;
  font-family: "Piazzolla", "Times New Roman", "YuMincho", "Hiragino Mincho ProN",
               "Yu Mincho", "MS PMincho", serif;
  font-weight: 700;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-nav-menu {
  display: flex;
}
/*--- Main-Hero */


/*--- Main-Works */


/*--- Footer ---*/